@page "/"
@inject ShopService Shop

<PageTitle>Films and Genres</PageTitle>

<h1>Films and Genres</h1>

<div class="container-width">
    @if (error != string.Empty)
    {
        <div class="mb-4 alert alert-danger">
            <strong>Error</strong> @error
        </div>
    }

    <div class="input-group mb-4">
        <input @bind="@newGenre" class="form-control" placeholder="Genre" />
        <button class="btn btn-outline-primary" @onclick="AddGenre">Add</button>
        <button class="btn btn-outline-primary" @onclick="GenresInFilms">In Films</button>
        <button class="btn btn-outline-primary" @onclick="@(g => AllGenres(true))">All</button>
    </div>

    <ul class="list-group mb-4">
        @foreach (var genre in genres)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @genre.Name
                <span class="badge bg-secondary">@genre.Films?.Count</span>
            </li>
        }
    </ul>

    <div class="input-group mb-4">
        <input @bind="@skipFilms" class="form-control" placeholder="Skip" />
        <input @bind="@takeFilms" class="form-control" placeholder="Take" />
        <input @bind="@filter" class="form-control" placeholder="Filter" />
        <button class="btn btn-outline-primary" @onclick="FilterFilms">Filter</button>
        <button class="btn btn-outline-primary" @onclick="UnionFilms">Union</button>
    </div>

    <div class="input-group mb-4">
        <input @bind="@newFilm" class="form-control" placeholder="Film Title" />
        <input @bind="@newYear" class="form-control" placeholder="Released Year" />
        <select class="form-select" @bind="@selectedGenre">
            @foreach (var genre in genres)
            {
                <option value=@genre.Id>@genre.Name</option>
            }
        </select>
        <button class="btn btn-outline-primary" @onclick="AddFilm">Add</button>
    </div>

    <ul class="list-group mb-4">
        @foreach (var film in films)
        {
            <li class="list-group-item">
                <div><strong>@film.Title</strong></div>
                @foreach (var filmGenre in film.Genres.OrderBy(g => g.Name))
                {
                    <small class="badge bg-secondary me-1">@filmGenre.Name</small>
                }
            </li>
        }
    </ul>
</div>

@code {
    // Code Omitted for brevity.
    List<Genre> genres = new();
    List<Film> films = new();
    string error = string.Empty;
    string newGenre = string.Empty;
    string filter = string.Empty;
    string skipFilms = string.Empty;
    string takeFilms = string.Empty;
    string newFilm = string.Empty;
    string newYear = string.Empty;
    int selectedGenre;

    protected async override Task OnInitializedAsync()
    {
    }

    async Task AllGenres(bool include = true)
    {
        error = string.Empty;
        // Your code goes here
    }

    async Task AllFilms(bool include = true)
    {
        error = string.Empty;
        // Your code goes here
    }

    async Task AddGenre()
    {
        try
        {
            error = string.Empty;
            // Your code goes here
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async Task GenresInFilms()
    {
        error = string.Empty;
        // Your code goes here
    }

    async Task FilterFilms()
    {
        try
        {
            error = string.Empty;
            // Your code goes here
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async Task UnionFilms()
    {
        try
        {
            error = string.Empty;
            // Your code goes here
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async Task AddFilm()
    {
        try
        {
            error = string.Empty;

            // Your code goes here

            newFilm = string.Empty;
            newYear = string.Empty;
            selectedGenre = default;
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}